
*{
	border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    margin: 0 0 0 3px;
}
body {
	font: 14px verdana, arial, sans-serif;
	color: #424242;
}
h3 {
    margin: .8em 0 .2em 350px;
    padding: 0;
    color: #ed1b2f;
    width: 835px;
}
h2  {
	margin: .8em 0 .2em 120px;
	padding: 0;
	color: #ed1b2f;
    width: 300px;
}

#wrapper{
	width: 990px;
	margin: 0 auto;
	border: 2px solid #ccc;
}
#header{
	height: 150px;
	background-color: #fff;
			
}
#content{
	min-height: 500px;
}
#footer{
	height: 40px;
	background-color: #ed1b2f;
	color: #fff;
	padding-top: 40px;
	text-align:center;
	}

.clear{
	clear: both;
    height: 25px;
}
input[type=text], select,textarea,input[type=password] {
    padding-left:5px;
    margin: 8px 0 8px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height:25px;
}
input[type=submit] {
    height:25px;
    padding:1px;
    border-radius: 3px;
    background-color:#eb1a32; 
    color:white;
    font-size:small;
}


